<!DOCTYPE html>
<html>
   <head>
      <!-- META section: -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE-edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Klasyfikacja skoczków narciarskich</title>
      <!-- BOOTSTRAP link section: -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- nadpisanie stylu bootstrapowego:-->
      <style>
         .center-block{
         float: none;
         }
      </style>
   </head>
   <!-- LIVE RELOAD section: -->
   <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
   <body ng-app="aplikacja">
      <!-- BODY section: -->
      <!-- umieszczamy wszystko w bootstrapowym kontenerze: -->
      <div class="container" ng-controller="kontrolerTabeliSkoczkow">
         <div class="row">
            <div class="col-sm-8 center-block">
               <h1 class="text-center">Klasyfikacja {{skoczkowie.length}} skoczków narciarskich</h1>
               <br/>
               
               <div class="row">
                  <div class="col-xs-6">
                     <!-- ===BOOTSTRAPOWA WYSZUKIWARKA SKOCZKÓW=== -->
                     <!-- filtruje dane wyświetlane w tabeli -->
                     <div class="input-group">
                        <span class="input-group-addon">Szukaj: </span>
                        <input type="text" class="form-control" placeholder="Czego szukasz?" ng-model="wyszukiwarka">
                     </div>
                  </div>
                  <div class="col-xs-6">
                     <!-- ===OKIENKO MODALNE DO DODAWANIA NOWYCH SKOCZKÓW=== -->
                     <!-- Button trigger modal -->
                     <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                     Dodaj skoczka
                     </button>
                     <!-- Modal -->
                     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
      
                              <div class="modal-body">
                                 <div class="form-group">
                                    <label>NAZWISKO i imię skoczka:</label>
                                    <input type="text" class="form-control" ng-model="nazwiskoSkoczka">     
                                 </div>
                                 <div class="form-group">
                                    <label>Miejsce:</label>
                                    <input type="number" class="form-control" ng-model="miejsceSkoczka">     
                                 </div>
                                 <div class="form-group">
                                    <label>Bib:</label>
                                    <input type="number" class="form-control" ng-model="bibSkoczka">     
                                 </div>
                                 <div class="form-group">
                                    <label>Punkty:</label>
                                    <input type="number" class="form-control" ng-model="punktySkoczka">     
                                 </div>
                              </div>

                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Wróć</button>
                                 <button type="button" ng-click="dodajSkoczka()" class="btn btn-primary">Dodaj skoczka</button>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===BOOTSTRAPOWA TABELA RESPONSYWNA=== -->
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <!-- do wyświetlania poszczególnych kolumn i wierszy 
                              wykorzystamy dyrektywę Angulara: ng-repeat -->
                           <th ng-repeat="naglowek in 
                              ['Index', 'Imię', 'Miejsce', 'Bib',  'Punkty', 'Usuń']">
                              {{ naglowek }}
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <!-- UWAGA! normalnie dane te przechowywalibyśmy w pliku, ale wtedy nie działałoby to na Google Chrome - potrzebny byłby serwer;
                           po stworzeniu kontrolera wrzucamy tam dane w postaci JSON oraz korzystamy z właściwości 'skoczkowie' zmiennej $scope, która jest dostępna w obrębie kontenera -->
                        <tr ng-repeat='skoczek in skoczkowie | filter : wyszukiwarka'>
                           <td><strong>{{ $index }}</strong></td>
                           <td>
                              <strong>{{ skoczek.Name }}</strong>
                              <!-- do kontrolki edycja przypisujemy jej przeciwność (przełącznik dwustanowy) -->
                              <button ng-click="edycja =! edycja" class="btn btn-default btn-xs">Edytuj</button>
                              <input type="text" name="" class="form-control" ng-if="edycja == true" ng-model="skoczek.Name">
                           </td>
                           <td>{{ skoczek.Rank }}</td>
                           <td>{{ skoczek.Bib }}</td>
                           <td>{{ skoczek.Points }}</td>
                           <!-- &times - znacznik mnożenia; wartość $index jest generowana automatycznie (w tabeli) -->
                           <td><button ng-click="usunSkoczka( $index )" class="btn btn-danger btn-xs" id="guzik">&times;</button></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- KONIEC TABELI -->
            </div>
         </div>
      </div>
      <!-- ==================JAVASCRIPT link section: ================================ -->
      <script src="js/angular.min.js"></script>
      <script src="js/jquery-1.11.2.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/application.js"></script>
   </body>
</html>